 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body{
  background-color:HSLA(60, 17%, 95%, 1);
}
#container{
  width:1015px;
  height:4211px;
  margin-left:auto;
  margin-right:auto;
}


.left_nav_container{
  height:1130px;
  width:222px;
  float:left;
  background-color:white;
  overflow:hidden;

  .sidebar_lists{
    h4{
      float:left;
    }

    ul{
      float:left;
      padding:0;
      border-bottom-style:solid;
      border-width:1px;
      li{
        list-style:none;
        float:left;
        h3 {
          float:left;
          clear:both;
          }
        a{
        float:left;
        clear:both;
        }
      }
    }
  }
}



.search_results{
  width:785px;
  height:3803px;
  float:right;

  li{
    width:220px;
    height:220px;
    margin-bottom:18px;
    margin-right:28px;
    padding:0;
    float:left;
    list-style:none;
    overflow:hidden;
    background-color:white;
    border-style:solid;
    border-width:1px;
    position:relative;
    box-shadow: 0px 6px 19px 0px rgba(0,0,0,0.86);

    img{
      height:170px;
      width:214px;
      padding:1px;
      margin-left:2px;
      margin-right:2px;
      margin-top:2px;

      }

    .titles {
      height: 15px;
      font-size: 12px;
      overflow: hidden;
      float: left;
      }

    .shops{
        position:absolute;
        float:left;
        height:15px;
        font-size:11px;
        clear: both;
        bottom: 4px;
        left: 4px;
        color:gray;

      }

      .prices, .currency{
        clear:right;
        color: HSLA(94, 50%, 51%, 1);


        font-size:12px;

      }
      .prices{
        position:absolute;
        right: 50px;
        bottom: 5px;
      }
      .currency{
        position: absolute;
        bottom: -7px;
        right: 20px;
      }
  }
}
